# MacOS specific
if [[ $(uname) == "Darwin" ]]; then
    alias bell='tput bel'
    alias ghwatch='gh pr checks --watch && notify "CI has completed successfully :D" || notify "Oh no, CI failed ;("'
elif [[ $(which powershell.exe) ]]; then # WSL
    # $(grep Microsoft /proc/version)
    alias bell='powershell.exe "[console]::beep(4000,80)"'
elif [[ $(uname) == "Linux" ]]; then
    alias bell='echo -e \007'
fi

# Generic
alias a2l='$HOME/.local/opt/zephyr-sdk-0.16.5/arm-zephyr-eabi/bin/arm-zephyr-eabi-addr2line -e build/zephyr/zephyr.elf'
alias rmb='rm -rf build'
alias wb='west build'
alias wf='date && west flash --dev-id $(nrfjprog -i | sort | head -n1) && bell'
alias wfe='date && west flash --dev-id $(nrfjprog -i | sort | head -n1) --erase && bell'
alias wfr='date && west flash --dev-id $(nrfjprog -i | sort | head -n1) --recover && bell'
alias wb9160='west build -b nrf9160dk/nrf9160/ns'
alias wb9161='west build -b nrf9161dk/nrf9161/ns'
alias rwb9160='rmb && wb9160'
alias rwb9161='rmb && wb9161'
alias wbt91='west build -b thingy91/nrf9160/ns'
alias wbt91x='west build -b thingy91x/nrf9151/ns'
alias rwbt91='rmb && wbt91'
alias rwbt91x='rmb && wbt91x'
alias t9160='twister -T . -i -vvv -p nrf9160dk/nrf9160/ns'
alias wb52='west build -b nrf52840dk/nrf52840'
alias rwb52='rmb && wb52'
alias wb7002='west build -b nrf7002dk/nrf5340/cpuapp/ns'
alias wb7002s='west build -b nrf7002dk/nrf5340/cpuapp'
alias rwb7002='rmb && wb7002'
alias rwb7002s='rmb && wb7002s'
alias checkpatch='exec git diff --cached | ${NCS_PATH}/zephyr/scripts/checkpatch.pl -'
alias checktree='exec git diff HEAD | ${NCS_PATH}/zephyr/scripts/checkpatch.pl -'
alias check_compliance='${NCS_PATH}/zephyr/scripts/ci/check_compliance.py -e Kconfig -c upstream/main..HEAD'
alias twister='zd west twister'
alias pmr='west build -t partition_manager_report'
alias mc='west build -t menuconfig'
alias greb='f() { grep -r --include $1 $2 build };f'
alias grebc='greb .config'
alias certinfo='openssl x509 -noout -text -in'
alias certinfoec='openssl ec -noout -text -in'
alias ngwl='git -C ${NCS_PATH}/nrf worktree list'
alias ncode='code $ZEPHYR_BASE/..'
alias '??'='gh copilot suggest -t shell'
alias 'gh?'='gh copilot suggest -t gh'
alias 'git?'='gh copilot suggest -t git'