function notify() {
  msg=${*:-`cat`}
  if [[ $(uname) == "Darwin" ]]; then
    /usr/bin/osascript -e "display notification \"$msg\""
  elif [[ $(which powershell.exe) ]]; then
    toast=$(which toast64.exe)
    if [[ ! -f $toast ]]; then
      toast=$(which toast32.exe)
    fi

    $toast --app-id "Shell notification" \
      --title "Shell notification" \
      --message "$msg" \
      --audio "default"
  elif [[ $(uname) == "Linux" ]]; then
    notify-send "$msg"
  fi
}

# git worktree add for an sdk-nrf branch and initialize it
# Usage: ngwa <branch-name>
# Branch will be created if it doesn't exist already.
# If the branch name starts with pr-, it will fetch the pull request branch from upstream.
# Creates a worktree at ${NCS_WT_PATH}/<branch-name>/nrf
function ngwa() {
  if [[ -z $1 ]] ; then
    echo "Missing branch argument"
    return 1
  fi

  if [[ -z $NCS_WT_PATH ]] ; then
    echo "NCS_WT_PATH is empty"
    return 1
  fi

  # check if folder ${NCS_WT_PATH} exists
  if [[ ! -d $NCS_WT_PATH ]] ; then
    echo "$NCS_WT_PATH does not exist"
    return 1
  fi

  if [[ $1 == pr-* ]] ; then
    echo "Fetching pull request branch"
    pr_number=$(echo $1 | cut -c 4-)

    # fetch the PR branch
    git -C ${NCS_PATH}/nrf fetch upstream pull/${pr_number}/head:$1

    # make sure the PR branch is up to date
    git -C ${NCS_PATH}/nrf update-ref refs/heads/$1 FETCH_HEAD

    # configure the branch so git pull works
    git -C ${NCS_PATH}/nrf config branch.$1.remote upstream
    git -C ${NCS_PATH}/nrf config branch.$1.merge refs/pull/${pr_number}/head
  fi

  git -C ${NCS_PATH}/nrf worktree add ${NCS_WT_PATH}/$1/nrf $1

  # error code is returned if branch does not exist already
  # create new branch if error code is returned
  if [[ $? -ne 0 ]] ; then
    git -C ${NCS_PATH}/nrf worktree add -b $1 ${NCS_WT_PATH}/$1/nrf

    if [[ $? -ne 0 ]] ; then
      echo "Failed to create worktree"
      return
    fi
  fi

  cp $HOME/.wtdotenv ${NCS_WT_PATH}/$1/.env
  python3 -m venv ${NCS_WT_PATH}/$1/.venv
  cd ${NCS_WT_PATH}/$1
  pip3 install west
  cd ${NCS_WT_PATH}/$1/nrf
  west init -l
  west update --narrow -o=--depth=1
  cd ${NCS_WT_PATH}/$1
  west zephyr-export
  pip3 install -r zephyr/scripts/requirements.txt
  pip3 install -r nrf/scripts/requirements.txt
  pip3 install -r bootloader/mcuboot/scripts/requirements.txt
  cd nrf
}

# nrf git worktree remove and delete the parent folder
function ngwr() {
  # validate arguments to avoid rm -rf /
  if [[ -z $1 ]] ; then
    echo "Missing worktree path argument"
    return
  fi

  if [[ -z $NCS_WT_PATH ]] ; then
    echo "NCS_WT_PATH is empty"
    return
  fi

  # promt user to comfirm deletion in zsh
  read -q "REPLY?Do you want to remove the worktree at ${NCS_WT_PATH}/$1? (y/n) "
  echo
  if [[ ! $REPLY =~ ^[Yy]$ ]] ; then
    echo "Aborting"
    return
  fi

  git -C ${NCS_PATH}/nrf worktree remove -f "${NCS_WT_PATH}/${1}/nrf"
  rm -rf "${NCS_WT_PATH}/${1}"
}

# cd to nrf folder in ncs or worktree
function ncd() {
  if [[ -z $1 ]] ; then
    # first cd to the ncs folder to activate .env
    cd ${NCS_PATH}/
    # then cd back to the previous folder to allow cd - to work after cd to nrf
    cd -
    # finally cd to nrf folder
    cd ${NCS_PATH}/nrf
    return
  fi

  if [[ ! -d ${NCS_WT_PATH}/$1 ]] ; then
    echo "The worktree ${NCS_WT_PATH}/$1 does not exist"
    return 1
  fi

  # first cd to the worktree ncs folder to activate .env
  cd ${NCS_WT_PATH}/$1
  cd nrf
}

# run twister command inside docker
function twister() {
  if [[ -z $1 ]] ; then
    echo "Missing twister command"
    return 1
  fi

  if [[ -z $ZEPHYR_BASE ]] ; then
    echo "ZEPHYR_BASE is empty"
    return 1
  fi

  prj_root=$(realpath $ZEPHYR_BASE/..)/
  rel_cwd=${PWD#$prj_root}

  docker run --rm -t -v ${prj_root}:/workdir -w /workdir/${rel_cwd} dotfiles west twister $*
}
